<h1>Artisans de Fabrication</h1>
<div class="container-fluid">
  <div class="row">
    <div *ngFor="let artisan of artisans" class="col-12 col-md-6 col-lg-4">
      <div class="card mb-4">
        <h5 class="card-title">{{ artisan.name }}</h5>
        <p class="card-text">
          <strong>Spécialité:</strong> {{ artisan.specialty }}<br>
          
          <strong>Note :  </strong>
          <span *ngFor="let i of [0, 1, 2, 3, 4]; let index = index">
            <i class="fa" [ngClass]="index < artisan.note ? 'fa-star' : 'fa-star-o'"></i>
          </span><br>
          
          
          <strong>Localisation:</strong> {{ artisan.location }}
        </p>
        <div id="map">
          <!-- Intégration de la carte -->
        </div>
      </div>
    </div>
  </div>
</div>


