<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 mb-3 mb-md-0 footer-menu-container">
              <div class="row">
                <div class="col-md-4 ">
                  <nav class="footer-menu">
                    <h2>Menu</h2>
                  </nav>
                </div>
                <div class="col-md-4">
                  <nav class="footer-menu">
                    
                      <a routerLink="/legal-notices" class="d-block mb-2"><i class="fas fa-circle"></i>  Mentions légales</a>
                      <a routerLink="/personal-data" class="d-block mb-2"><i class="fas fa-circle"></i>  Données personnelles</a>
                 
                  </nav>
                </div>
                <div class="col-md-4">
                  <nav class="footer-menu">
                    <a routerLink="/accessibility" class="d-block mb-2"><i class="fas fa-circle"></i>  Accessibilité</a>
                    <a routerLink="/cookies" class="d-block mb-2"><i class="fas fa-circle"></i>  Cookies</a>
                  </nav>
                </div>
              </div>
            </div>
        <div class="col-md-6 footer-menu-container">
          <div class="row footer-contact-container">
            <div class="col-md-4">
            <h2>Antenne à Lyon</h2>
          </div>
          
            <div class="col-md-4">
              <address class="footer-contact">  
                
                  <i class="fas fa-map-marker-alt"></i>
                         
                <p class="mb-1"><p class="mb-1"> 101 cours Charlemagne</p> 
                <p class="mb-1">CS 20033</p>
                <p class="mb-1">69269 LYON CEDEX 02</p>
                <p class="mb-1">France</p>
              </address>
            </div>
           
            <div class="col-md-4">
              <div class="footer-phone">
                <i class="fas fa-phone"></i>
                <p class="mb-0">+33 (0)4 26 73 40 00</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  
  
