.footer-menu-container  {
    border-radius: 15px;
    background-color: #0074c7;
    text-decoration: none;
    color:white;
  }
.footer { 
    margin: 0;
    width: 100%;
}
.footer-menu,
.footer-contact {
    margin-left: 20px;
    color: white;
  }
  .footer-menu a {
    color: #ffffff; 
}

.footer-menu a:hover {
    color: #cccccc; 
}
.footer-menu a {
    margin-top: 20px; 
    display: block; 
}
.fa-circle {
    font-size: 50%;
}
  