header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f8f9fa;
  }
  
  header a {
    text-decoration: none;
    color: #000;
  }
  
  header nav {
    display: flex;
    gap: 20px;
  }
  
  
  
  header img {
    max-height: 50px; /* Ajustez cette valeur selon vos besoins */
  }
  
  header nav a {
    display: flex;
    align-items: center;
    padding: 0 10px;
    text-decoration: none;
    color: #000;
  }
  