header {  
  width: 100%;
  position: relative; /* Pour que le dégradé soit positionné correctement */
  background-color: #ffffff !important; /* Couleur de fond blanche avec !important pour forcer le style */
 
  
}
.container-fluid {
  display: flex;

}

nav {
 
  box-shadow: 0 .1rem .1rem rgba(0, 0, 0, .0793474);
}

.bg-light {
  background-color: #ffffff !important;
  
}


header a {
  text-decoration: none;
  color: #000;
}
.logo-img {
  max-width: 200px; /* Taille maximale en pixels */
  max-height: 50px; /* Hauteur maximale en pixels */
  transition: max-width 0.3s, max-height 0.3s; /* Transition douce */
  margin-right: 20rem;
}

@media (max-width: 991.98px) {
  .logo-img {
    max-width: 160px; /* Réduire la taille pour les écrans plus petits */
    max-height: 40px;
    margin-right: 2rem;
  }

}

header img {
  max-height: 200px; /* Ajustez cette valeur selon vos besoins */
  height: auto; /* Pour s'assurer que l'image conserve son ratio d'aspect */
}

header nav a {
 
  padding: 0 10px;
  text-decoration: none;
  color: #000;
}

input[type="text"] {
  padding: 5px;
  font-size: 16px;
}


.search-container {
  display: flex;
  align-items: center;
  position: relative; /* Pour positionner correctement l'icône de recherche */
  flex-grow: 1;
  margin-right: 5rem;
  margin-left: 0rem; /* Espace entre la barre de recherche et le menu */
  max-width: 15rem;
}

.search-container input {
  padding: 10px 40px 10px 10px; /* Ajuster le padding pour faire de la place pour l'icône à droite */
  border: 2px solid;
  border-color: white #0074c7 #0074c7 white;
  outline: none;
  width: 100%; /* Ajuste la largeur pour occuper tout l'espace disponible */
}

.search-icon {
  position: absolute;
  right: 10px; /* Ajuster la position à l'intérieur du champ de saisie */
  top: 50%;
  transform: translateY(-50%);
  width: 20px; /* Ajuster la taille de l'icône */
  height: 20px; /* Ajuster la taille de l'icône */
  pointer-events: none; /* Rendre l'icône non cliquable */
  color: #0074c7;
}



.search-results {
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  width: 100%;
  z-index: 1000;
  margin-top: 5px;
}

.search-results ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.search-results li {
  padding: 5px 10px;
}

.search-results li:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}
a {
  font-size: large;
}


