header {  
  width: 100%;
  position: relative; 
  background-color: #ffffff !important; 
 
  
}
.container-fluid {
  display: flex;

}

nav {
 
  box-shadow: 0 .1rem .1rem rgba(0, 0, 0, .0793474);
}

.bg-light {
  background-color: #ffffff !important;
  
}


header a {
  text-decoration: none;
  color: #000;
}
.logo-img {
  max-width: 200px; 
  max-height: 50px; 
  transition: max-width 0.3s, max-height 0.3s; 
  margin-right: 20rem;
}

@media (max-width: 991.98px) {
  .logo-img {
    max-width: 160px; 
    max-height: 40px;
    margin-right: 2rem;
  }

}

header img {
  max-height: 200px; 
  height: auto; 
}

header nav a {
 
  padding: 0 10px;
  text-decoration: none;
  color: #000;
}

input[type="text"] {
  padding: 5px;
  font-size: 16px;
}


.search-container {
  display: flex;
  align-items: center;
  position: relative; 
  flex-grow: 1;
  margin-right: 5rem;
  margin-left: 0rem; 
  max-width: 15rem;
}

.search-container input {
  padding: 10px 40px 10px 10px; 
  border: 2px solid;
  border-color: white #0074c7 #0074c7 white;
  outline: none;
  width: 100%; 
}

.search-icon {
  position: absolute;
  right: 10px; 
  top: 50%;
  transform: translateY(-50%);
  width: 20px; 
  height: 20px; 
  pointer-events: none; 
  color: #0074c7;
}



.search-results {
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  width: 100%;
  z-index: 1000;
  margin-top: 5px;
}

.search-results ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.search-results li {
  padding: 5px 10px;
}

.search-results li:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}
a {
  font-size: large;
}


