#detail { 
  margin-left: 50px;
  margin-bottom: 30px;
  margin-top: 30px;
}
  
  h1 {
    color: #00497c; 
  }
  
  h2 {
    margin-top: 3rem;
    margin-bottom: 2rem;
    color: #00497c;
  }
  a, p {
    color: #0074c7;
  }
  
  strong {
    color: #384050;
  }
  .fa {
    color: #cd2c2e; 
  }
  
  iframe {
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 15px;
  }
  
  
  .narrow-input {
    width: 25%; 
  }

  .narrow2-input {
    width: 50%; 
  }

  button {
    background-color: #0074c7;
   
    margin-top: 1rem;
  }