.card {
  border-color: #0074c7;
}
.fa {
    color: #cd2c2e;
}
.card-text {
    color: #0074c7;
   
}
.card-title {
    margin-top: 15px;
    color: #00497c;
   
}
p {
     margin-left: 15px;
    }
  
  
  h1 {
    color: #00497c;
    margin: 30px;
  }
  iframe {
    border-radius: 10px;
    margin-left: 15px;
    margin-bottom: 15px;
  }