<h1>Artisans du Bâtiment</h1>
<div class="container-fluid">
  <div class="row">
    <div *ngFor="let artisan of artisans" class="col-12 col-md-6 col-lg-4">
      <div class="card mb-4">
        <h5 class="card-title">{{ artisan.name }}</h5>
        <p class="card-text">
          <strong>Spécialité:</strong> {{ artisan.specialty }}<br>
          <strong>Note:</strong>
          <span *ngFor="let star of [1, 2, 3, 4, 5]; let i = index">
            <i class="fa" [ngClass]="i < artisan.rating ? 'fa-star' : 'fa-star-o'"></i>
          </span><br>
          <strong>Localisation:</strong> {{ artisan.location }}
        </p>
        <!-- Placeholder for the map, you can integrate Google Maps or any other map service here -->
        <div id="map" style="height: 200px; background-color: #e0e0e0;">
          <!-- Intégration de la carte -->
        </div>
      </div>
    </div>
  </div>
</div>




