<h1>Artisans du Bâtiment</h1>
<div class="container-fluid">
  <div class="row">
    <div *ngFor="let artisan of artisans" class="col-12 col-md-6 col-lg-4">
      <div class="card mb-4" >
        <a class="nav-link" [routerLink]="['/artisan-detail', artisan.id]"><h5 class="card-title">{{ artisan.name }}</h5></a>
        <p class="card-text">
          <strong>Spécialité:</strong> {{ artisan.specialty }}<br>
          
          <strong>Note :  </strong>
          <span *ngFor="let starClass of getStarClasses(artisan.note)">
            <i class="fa" [ngClass]="starClass"></i>
          </span>
          
          
          <strong>Localisation:</strong> {{ artisan.location }}
        </p>
        <div id="map">
          <iframe [src]="sanitizeMapUrl(artisan.coordinates.latitude, artisan.coordinates.longitude)" style="border: none; width: 60%; height: 200px;"></iframe>

        </div>
      </div>
    </div>
  </div>
</div>




