<div class="home-container">
    <section class="how-it-works">
      <h2>Comment trouver mon artisan ?</h2>
      <ol>
        <li>
          <h3>Étape 1</h3>
          <p>Choisir la catégorie d’artisanat dans le menu. Vous avez le choix entre les catégories "Bâtiment", "Services", "Fabrication" ou "Alimentation".</p>
        </li>
        <li>
          <h3>Étape 2</h3>
          <p>Choisir un artisan en fonction des différents critères qui s'affichent dans chaque fiche en cliquant sur celle-ci.</p>
        </li>
        <li>
          <h3>Étape 3</h3>
          <p>Le contacter via le formulaire de contact présent sur sa fiche.</p>
        </li>
        <li>
          <h3>Étape 4</h3>
          <p>Une réponse sera apportée sous 48h.</p>
        </li>
      </ol>
    </section>
  
    <div class="home-container">
      <section class="artisans-of-the-month">
        <h2>Les trois artisans du mois</h2>
        <div class="row">
          <div class="col-12 col-md-6 col-lg-4" *ngFor="let artisan of artisansOfTheMonth">
            <div class="artisan-card">
              <a class="nav-link" [routerLink]="['/artisan-detail', artisan.id]"><h4 class="card-title">{{ artisan.name }}</h4></a>
              <p><strong>Spécialité:</strong> {{ artisan.specialty }}</p>
              <p><strong>Note: </strong>
                <span *ngFor="let i of [0, 1, 2, 3, 4]; let index = index">
                  <i class="fa" [ngClass]="{'fa-star': index < artisan.note, 'fa-star-o': index >= artisan.note}"></i>
                </span>
              </p>
              <p class="detail"><strong>Localisation :</strong> {{ artisan.location }}</p>
              <div id="map">
                <iframe [src]="sanitizeMapUrl(artisan.coordinates.latitude, artisan.coordinates.longitude)" style="border: none; width: 80%; height: 200px;"></iframe>

              </div>
            </div>
          </div>
        </div>
      </section>
    </div>