.how-it-works {
  margin-top: 30px;
}

.artisan-card {
    border: 1px solid #0074c7;
    padding: 15px;
    margin: 15px;
    border-radius: 8px;
    text-align: left;
  }
  h2,.name {
    color: #00497c;
    margin-left: 15px;
   
    margin-bottom: 15px;
  }
  h3, .detail {
    color: #0074c7;
    margin-left: 15px;
  }
  h4 {
    color: #00497c;
    margin-bottom: 15px;
  }
 iframe {
    border-radius: 10px;
    
  }
  .fa {
    color: #cd2c2e; 
  }
  section {
    margin-bottom: 30px;
  }