<!-- search.component.html -->
<div class="container">
    <h2>Résultats de la recherche</h2>
  
    <!-- Afficher un message si aucun artisan n'est trouvé -->
    <div *ngIf="artisans.length === 0" class="alert alert-info">
      Aucun artisan trouvé pour cette recherche.
    </div>
  
    <!-- Liste des artisans trouvés -->
    <ul class="list-group">
      <li *ngFor="let artisan of artisans" class="list-group-item">
        <!-- Lien vers la fiche détaillée de l'artisan -->
        <a [routerLink]="['/artisan-detail', artisan.id]">
          <h5>{{ artisan.name }}</h5>
          <p>{{ artisan.specialty }} - {{ artisan.city }}</p>
        </a>
      </li>
    </ul>
  </div>
  
  
  
  